{% extends "base.html" %}

{% block titre %}
<title>{{ competition.name }} - catégorie {{selectedCat.name}} {% if leg > 0 %}- leg {{ leg }}{% endif %}</title>
{% endblock %}

{% block content %}

<h1 class="text-body-emphasis">{{ competition.name }}</h1>

{% include "categoryListComponent.html" %}

<h2 class="text-body-emphasis">{{ selectedCat.name }}{% if leg > 0 %} - leg {{ leg }}{% endif %}</h2>
<div class="table-responsive">
<table class="table table-striped table-dark table-hover">
<caption>Classement non officiel</caption>
<thead>
    <tr>
        <th>Place</th>
        <th>Nom (Club)</th>
        {% for ctrl in ctrlName %}
            <th>{{ ctrl }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    {% for q, c, rlist in results %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
        {% if type == "run" %}
                {{ q.name }}{% if c %} - ({{ c }}){% endif %}

        {% elif type == "team" %}
            <a class="link-light"
                href="{% url 'results:team' comp_id=competition.cid cls_id=selectedCat.id team_id=r.id%}">
                {{ r.name }}{% if complement %} ({{ complement }}){% endif %}
            </a>
        {% endif %}
        </td>

        {% for r in rlist %}
            <td>{{ r }}</td>
        {% endfor %}
    </tr>
	{% empty %}
    <tr>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>

{% endblock %}
