{% extends "base.html" %}

{%
"""
context :
"competition" : competition,
"categories": categories,
"selectedCat": categorie,
"leg":legInGet,
"results": qResults, listeTime, listeTimeDiff, listeClub, listeComplement,
"type":typeFormat}
"""
%}

{% block titre %}
<title>{{ competition.name }} - catégorie {{selectedCat.name}} {% if leg > 0 %}- leg {{ leg }}{% endif %}</title>
{% endblock %}


{% block style %}
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.avatar-md {
    height: 5rem;
    width: 5rem;
}
.fs-19 {
    font-size: 19px;
}
.primary-link {
    color: #314047;
    transition: all .5s ease;
}
a {
    color: #02af74;
    text-decoration: none;
}
.bookmark-post .favorite-icon a, .job-box.bookmark-post .favorite-icon a {
    background-color: #da3746;
    color: #fff;
    border-color: danger;
}
.favorite-icon a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #eff0f2;
    border-radius: 6px;
    color: rgba(173,181,189,.55);
    transition: all .5s ease;
}
.candidate-list-box .favorite-icon {
    position: absolute;
    right: 22px;
    top: 22px;
}
.fs-14 {
    font-size: 14px;
}
.bg-soft-secondary {
    background-color: rgba(116,120,141,.15)!important;
    color: #74788d!important;
}
.mt-1 {
    margin-top: 0.25rem!important;
}
{% endblock %}

{% block content %}

<h1 class="text-body-emphasis">{{ competition.name }}</h1>

{% include "categoryListComponent.html" %}

<h2 class="text-body-emphasis">{{ selectedCat.name }}{% if leg > 0 %} - leg {{ leg }}{% endif %}</h2>


<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="candidate-list">
                {% for r, t, d, c, complement in results %}
                <div class="candidate-list-box card mt-4">
                    <div class="p-4 card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <div class="candidate-list-images">
                                    <h3>{{ forloop.counter }}</h3>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="candidate-list-content mt-3 mt-lg-0">
                                    <h4 class="fs-19 mb-0">
                                        <a class="primary-link" href="{% url 'results:run' comp_id=competition.cid cls_id=selectedCat.id run_id=r.id %}">{{ r.name }}&raquo;</a>
                                        {% if complement != None %}<span class="badge bg-success ms-1"><i class="mdi mdi-star align-middle"></i> {{ complement }}</span>{% endif %}
                                    </h4>
                                    <p class="text-muted mb-2">{% if c != '' %}Club: {{ c }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mt-2 mt-lg-0 d-flex gap-1">
                                    <span class="badge bg-soft-secondary fs-4 mt-1 w-50">{{ t }}</span>
                                    <span class="badge bg-soft-secondary fs-4 mt-1 w-50">{% if t != 'MP' and d != '0:00:00' %}+ {{ d }}{% endif %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
