{% extends "base.html" %}

{% block content %}
<h1 class="text-body-emphasis">{{ competition.name }}</h1>
<div class="container mb-3">
<div class="row gy-3">
	{% for cat in categories %}
		<div class="col">
			<a class="btn btn-primary link-light"
			   href="{% url 'results:catDet' comp_id=competition.cid cls_id=cat.id %}">{{ cat.name }}&raquo;</a>
		</div><!-- /.col-sm -->
	{% endfor %}
</div><!-- /.row -->
</div><!-- /.container -->
<h2 class="text-body-emphasis">{{ runner_name }} ({{ category.name }})</h2>
<h3 class="text-body-emphasis">Club: {{ runner_club }}</h3>
<h4 class="text-body-emphasis">Status: {{ runner_status }}</h4>
<a class="btn btn-primary link-light" href="{% url 'results:catDet' comp_id=competition.cid cls_id=category.id %}">retour</a>
<div class="table-responsive">
<table class="table table-striped table-dark table-hover">
<caption>Temps intermédiaires</caption>
<thead>
    <tr>
        <th>Ctrl</th>
        <th>Temps</th>
    </tr>
</thead>
<tbody>
    {% for p,t in ctrlPointѕ %}
    <tr>
		<td>{{ p }}</td>
		<td>{{ t }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>

{% endblock %}
