{% extends "base.html" %}

{% block content %}
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
	<symbol id="arrow-right-circle" viewBox="0 0 16 16">
		<path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
	</symbol>
</svg>

<h1 class="text-body-emphasis">Drivers pour matériel de GEC</h1>
<ul class="list-unstyled ps-0">
	<li>
		<a class="icon-link mb-1"
			href="https://jolatomme.helioho.st//Ressources_GEC/Drivers/citizencts310_pilote.zip" rel="noopener">
			<svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
            Drivers imprimante thermique Citizen CTS 310
        </a>
    </li>
    <li>
        <a class="icon-link mb-1"
			href="https://jolatomme.helioho.st//Ressources_GEC/Drivers/metapace-t-25-cd-v1.0.zip" rel="noopener">
			<svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
            Drivers imprimante thermique Metapace T25
        </a>
    </li>
</ul>

{% endblock %}
