{% extends "base.html" %}

{% block content %}
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
	<symbol id="arrow-right-circle" viewBox="0 0 16 16">
		<path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
	</symbol>
</svg>

<h1 class="text-body-emphasis">Etiquettes pour boitiers</h1>
<p class="fs-5 col-md-8">Étiquette au bon format pour numéroter les boitiers en cas de besoin.</p>
<hr class="col-3 col-md-2 mb-5">
<h2 class="text-body-emphasis">Listes des planches </h2>
<p>Choisissez vos numéros.</p>
<ul class="list-unstyled ps-0">
	<li>
		<a class="icon-link mb-1"
			href="https://jolatomme.helioho.st/Ressources_GEC/Etiquettes/Etiquettes_31_60.pdf" rel="noopener">
            <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
            Boitiers 31 à 60
        </a>
    </li>
	<li>
		<a class="icon-link mb-1"
			href="https://jolatomme.helioho.st/Ressources_GEC/Etiquettes/Etiquettes_61_90.pdf" rel="noopener">
			<svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
        	Boitiers 61 à 90
        </a>
	</li>
	<li>
		<a class="icon-link mb-1"
			href="https://jolatomme.helioho.st/Ressources_GEC/Etiquettes/Etiquettes_91_120.pdf" rel="noopener">
			<svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
            Boitiers 91 à 120
		</a>
	</li>
	<li>
		<a class="icon-link mb-1"
			href="https://jolatomme.helioho.st/Ressources_GEC/Etiquettes/Etiquettes_121_150.pdf" rel="noopener">
			<svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
        	Boitiers 121 à 150
		</a>
	</li>
	<li>
		<a class="icon-link mb-1"
			href="https://jolatomme.helioho.st/Ressources_GEC/Etiquettes/Etiquettes_151_180.pdf" rel="noopener">
			<svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
        	Boitiers 151 à 180
        </a>
    </li>
</ul>
{% endblock %}
